---
import { Image } from "astro:assets";

const { frontmatter, url } = Astro.props;
const { service, image1, image2, description, link  } = frontmatter
---

<div class="group flex flex-col h-full bg-white px-6 pb-6 shadow-md hover:bg-blueMain transition-all ease-in-out">
    <div class="flex flex-col h-full">
        <!-- Contenedor del icono -->
        <div class="mb-3 flex">
            <img src={image1.src} alt={image1.alt} width={64} height={64} class='bg-blueMain group-hover:border-white p-3' loading="eager" />
        </div>
        
        <!-- Contenedor del contenido -->
        <div class="flex flex-col flex-grow justify-between">
            <!-- Título y descripción -->
            <div>
                <h3 class="text-lg font-semibold text-blueDarker group-hover:text-white mb-3">{service}</h3>
                <p class="text-blueLight font-normal group-hover:text-white">{description}</p>
            </div>
            
            <!-- Enlace - siempre al fondo -->
            <div class="mt-6 flex place-content-end">
                <a href={link} class="text-blueMain text-sm hover:underline uppercase font-semibold group-hover:text-white">
                    Más información
                </a>
            </div>
        </div>
    </div>
</div>