---
import { Image } from "astro:assets";
import check from "@/assets/icons/check.svg";
import Container from "@/components/Container.astro";
import planos from "@/assets/images/planos.webp";
import planoSection from '@/assets/images/planoSection.webp'
---
<section class="flex pb-12 md:pb-20">
    <div class="hidden md:block md:w-1/2 relative overflow-hidden">
        <Image class="absolute w-full h-full object-cover bg-left object-left" src={planoSection} alt="Planos" />
    </div>
    <div class="w-full md:w-1/2 relative">
        <Image class="w-full h-[590px] object-cover" src={planos} alt="Planos" />
        <div class="absolute inset-0 bg-[#081f47] bg-opacity-80 ">
            <div class="p-8 text-white h-full flex flex-col justify-center">
                <h2 class="text-sm text-blueMain font-bold mb-4">HIGH PERFORMANCE!</h2>
                <h1 class="text-4xl font-bold mb-4 max-w-[520px]">The reasons why you should choose our company!</h1>
                <p class="mb-6 max-w-[520px]">Construction is a general term meaning the art and industrial science of old french construction building solution.</p>
                <ul class="space-y-2">
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="mr-3"  />
                        Resonable Construction Prices
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="mr-3"  />
                        Building Renovation Maintenance
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="mr-3"  />
                        The Ability to Delegate Tasks
                    </li>
                    <li class="flex items-center">
                        <Image src={check} alt="Check" class="mr-3"  />
                        High Problem Solving Skills
                    </li>
                </ul>
                <button class="mt-8 bg-blueMain text-white px-6 py-2 font-bold w-fit">More About Us</button>
            </div>
        </div>
    </div>
</section> 
