---

import { Image } from 'astro:assets';
import Menu from '../assets/icons/Menu.svg';
import Close from '../assets/icons/Close.svg';
import mail from '../assets/icons/mail.svg';
import phone from '../assets/icons/phone.svg';
import map from '../assets/icons/map.svg';
import Isotipo from '../assets/images/Isotipo.webp'
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1);
---
<section class="shadowNavbar sticky top-0 left-0 right-0 z-50 bg-white">
    <nav class=" max-w-7xl mx-auto flex items-center justify-between bg-white py-1 pr-3 w-full">
        <div class="flex items-center">
            <Image src={Isotipo} alt="Logo de JG Servicios" loading='eager' class="w-auto h-16 md:h-20 py-2" /> 
        </div>
        <ul class="md:flex md:gap-5 hidden text-center items-center">
            <li><a class={`${currentPath === '' ? 'text-[#04adbf]' : ''} font-bold text-base hover:text-[#04adbf]`} href="/">Inicio</a></li>
            <li><a class={`${currentPath === 'about' ? 'text-[#04adbf]' : ''} font-bold text-base hover:text-[#04adbf]`} href="/about">Sobre Nosotros</a></li>
            <li><a class={`${currentPath === 'services' ? 'text-[#04adbf]' : ''} font-bold text-base hover:text-[#04adbf]`} href="/services">Servicios</a></li>
            <li><a class={`${currentPath === 'portfolio' ? 'text-[#04adbf]' : ''} font-bold text-base hover:text-[#04adbf]`} href="/portfolio">Portafolio</a></li>
            <li><a class="font-bold text-base text-white bg-[#04adbf] px-5 py-3 hover:bg-black transition-all ease-in delay-25" href="/contact">Contacto</a></li>
        </ul>

        <button id="menuButton" class="md:hidden">
            <Image src={Menu} alt="Menu Icon" width="36" height="36" loading='eager' class="md:hidden" quality='max' />
        </button>
    </nav>

    <div id="mobileMenu" class="fixed top-0 right-0 w-full h-full bg-white transform translate-x-full transition-transform duration-300 ease-in-out z-50">
        <div class="px-5 pb-5 pt-10 flex justify-between items-center">
            <h2 class="text-xl font-semibold">Menu</h2>
            <button id="closeButton">
                <Image src={Close} alt="Close Icon" width="32" height="32" loading='eager' quality='max' />
            </button>
        </div>
        <ul class="flex flex-col items-start p-5">
            <li class={`${currentPath === '' ? 'text-[#04adbf]' : ''} border-b border-[#EEEEEE] py-[10px] w-full hover:text-[#04adbf]`} ><a class="font-medium text-base" href="/">Inicio</a></li>
            <li class={`${currentPath === 'about' ? 'text-[#04adbf]' : ''} border-b border-[#EEEEEE] py-[10px] w-full hover:text-[#04adbf]`} ><a class="font-medium text-base" href="/about">Sobre Nosotros</a></li>
            <li class={`${currentPath === 'services' ? 'text-[#04adbf]' : ''} border-b border-[#EEEEEE] py-[10px] w-full hover:text-[#04adbf]`} ><a class="font-medium text-base" href="/services">Servicios</a></li>
            <li class={`${currentPath === 'portfolio' ? 'text-[#04adbf]' : ''} border-b border-[#EEEEEE] py-[10px] w-full hover:text-[#04adbf]`} ><a class="font-medium text-base" href="/portfolio">Portafolio</a></li>
            <li class={`${currentPath === 'contact' ? 'text-[#04adbf]' : ''} border-b border-[#EEEEEE] py-[10px] w-full hover:text-[#04adbf]`} ><a class="font-medium text-base" href="/contact">Contacto</a></li>
        </ul>
        <div class="p-5">
            <div class="flex flex-col gap-3">
                <div class="flex items-start gap-4">
                    <Image src={map} alt="Address Icon" width="20" height="20" loading='eager' class="mt-1"  /> 
					<div class="flex flex-col">
						<h3 class="font-medium text-lg">Ubicación</h3>
						<p class="font-normal text-base">Cerro de la bufa, Col. Aztlán, Reynosa, Tamps. </p>
					</div>
                </div>
                <div class="flex items-start gap-4">
                    <Image src={mail} alt="Email Icon" width="20" height="20" loading='eager' class="mt-1"  /> 
					<div class="flex flex-col">
						<h3 class="font-medium text-lg">Correo</h3>
						<p class="font-normal text-base break-all">ventas@jgserviciosindustriales.com</p>
					</div>
                </div>
                <div class="flex items-start gap-4">
                    <Image src={phone} alt="Phone Icon" width="20" height="20" loading='eager' class="mt-1"  /> 
					<div class="flex flex-col">
						<h3 class="font-medium text-lg">Contáctanos</h3>
						<p class="font-normal text-base">+(899) 963 7644</p>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const menuButton = document.getElementById('menuButton')
        const closeButton = document.getElementById('closeButton')
        const mobileMenu = document.getElementById('mobileMenu')

        menuButton?.addEventListener('click', function () {
            mobileMenu?.classList.add('open')
        })

        closeButton?.addEventListener('click', function () {
            mobileMenu?.classList.remove('open')
        })
    })
</script>

